
<div class="container" id="container" >
  <div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h2>My Messages</h2>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3">
                    <h4>With</h4>
                  </div>
                  <div class="col-md-6">
                    <h4>Last message</h4>
                  </div>
                  <div class="col-md-3">
                    <h4>Reply</h4>
                  </div>
                </div>  <hr>
                <% @all_conversations.each do |conv| %>
                <div class="row">
                  <div class="col-md-3">
                      <%= conv[1][0..5] + ".." %>
                  </div>
                  <div class="col-md-6">
                    <%= !(/\d/).match(conv[0]).nil? ? "Image sent" : conv[0][0..9] + ".."  %>
                  </div>
                  <div class="col-md-3">
                    <%= link_to "View", new_message_path(:email_to => conv[1]) %>
                  </div>
                </div><hr>
                <% end %>
              </div>
            </div>
          </div>
      <div class="col-md-8 text-center">
        <h1>My conversation with <%= params[:email_to] %></h1>

        <%= render 'form' %>

        <div id="chat">
          <% if !@conversation.nil?  %>
            <%  @conversation.each do |message| %>
              <%= render 'messages/show', message: message %>
            <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
